.header{
    margin-top: 2%;
    text-align: left;
    font-size: 250%;
    
}

.cartBody{
    columns: 100px 3;
    column-count: 3;
    margin-top: 1%;
    padding-bottom: 1%;
}

.image{
    padding-left: 5%;
    padding-top: 10%;
    max-width: 30%;
    max-height: 30%;
    height:auto;
    
}

.checkout{
    margin-left: 80%;
    margin-right:5%;
}

.checkout{
    padding-top: 1%;
}

.btn {

    size: x-large;
    color:rgba(0, 0, 0, 0.788);
    background-color: #CFA813;
  }

.checkoutBtn {
    left: 0%;
    size: x-large;
    color:rgba(0, 0, 0, 0.788);
    background-color: #CFA813;
  }
.danger{
    background-color: purple;
    color: yellow;
}