<!-- <mat-toolbar style="background-color: #133ACF">

    <!-- <div class="container">
        <h1>Follow Us On</h1>
        <div>
            <i class='fab fa-facebook fa-lg'></i>
            <i class='fab fa-twitter fa-lg'></i>
            <i class='fab fa-linkedin fa-lg'></i>
            <i class='fab fa-instagram fa-lg'></i>
        </div>
    </div> 
    <div class="container">
        <span>Copyright Ⓒ Book Hive Inc.</span>
    </div>
    
</mat-toolbar> -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #133ACF; color: white;">
      © 2022 Copyright:
      <a class="text-reset" href="">Book Hive Employee Portal</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
